.icon-48-employees {
      background-image: url(../images/l_employees.png);
      padding-left:60px!important;
}

.icon-48-employee {
      background-image: url(../images/l_employees.png);
      padding-left:60px!important;
}

.icon-48-positions {
      background-image: url(../images/l_positions.png);
      padding-left:60px!important;
}

.icon-48-position {
      background-image: url(../images/l_positions.png);
      padding-left:60px!important;
}

.icon-48-departments {
      background-image: url(../images/l_departments.png);
      padding-left:60px!important;
}

.icon-48-department {
      background-image: url(../images/l_departments.png);
      padding-left:60px!important;
}

.icon-48-positiontypes {
      background-image: url(../images/l_positiontypes.png);
      padding-left:60px!important;
}

.icon-48-positiontype {
      background-image: url(../images/l_positiontypes.png);
      padding-left:60px!important;
}

.icon-48-idtypes {
      background-image: url(../images/l_idtypes.png);
      padding-left:60px!important;
}

.icon-48-idtype {
      background-image: url(../images/l_idtypes.png);
      padding-left:60px!important;
}

.icon-48-contacts {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

.icon-48-contact {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

